<header class="max-w-[1200px] m-auto p-5">
  <nav class="navbar flex justify-between items-center">
    <div class="logo-loader-wrapper">
      <div class="logo">
        <p>KUS<span>SION</span></p>
      </div>
    </div>
    <ul class="nav flex align-center">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a href="">Game</a>
      </li>
      <li>
        <a href="">How to play</a>
      </li>
      <li>
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
    <div class="flex gap-3 login-sign">
      <a class="brand-blue text-sm px-3 py-2" href="">Login</a>
      <div
        class="ani-btn overflow-hidden justify-between items-center primary py-2 px-3 flex gap-2 rounded-[5px]"
      >
        <a class="animation-text text-sm" href=""> Signup </a>
        <i
          class="fa-solid fa-angle-right text-xs text-white ms-auto relative z-[1]"
        ></i>
      </div>
    </div>
  </nav>
</header>
