<app-navbar />

<section class="max-w-[1200px] m-auto">
  <div class="grid grid-cols-2 gap-3 py-[100px]">
    <div>
      <h1 class="uppercase text-9xl text-white">amazingly simple</h1>
      <p class="text-gray-300 text-lg">
        Simply changing the ease can adjust the entire feel and personality of
        your animation. There are infinite eases that you can use in GSAP
      </p>
      <div
        class="ani-btn overflow-hidden justify-between items-center primary py-2 px-3 flex gap-2 rounded-[5px]"
      >
        <a class="animation-text text-lg font-medium" href=""> Get Started </a>
        <i
          class="fa-solid fa-angle-right text-xs text-white ms-auto relative z-[1]"
        ></i>
      </div>
    </div>
    <div>
      <img class="w-full" src="banner.png" alt="Image" />
    </div>
  </div>
</section>

<router-outlet />
