@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Nunito", sans-serif;
    background: #4C506D;
    background: linear-gradient(90deg, rgba(76, 80, 109, 1) 0%, rgba(101, 113, 149, 1) 100%);
    height: 100vh;
    width: 100vw;
}

h1,
h2,
h3 {
    font-family: "Lilita One", sans-serif;
}

a {
    text-decoration: none;
    transition: all .3s ease;
}

li {
    list-style-type: none;
}



.navbar a {
    color: #fff;
    font-weight: 600;
}

.nav li a {
    padding: 0 10px;
}

.nav li a:hover {
    color: #fd9152;
}

.animation-text {
    display: none;
}

.ani-btn {
    background: #fb6c4c;
    position: relative;
    width: 30px;
}

.ani-btn::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fb9153;
    content: '';
    box-shadow: 0 0px 15px rgba(76, 80, 109, .2);
}

/* navbar.component.css */

.animation-logo {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; */
}


.logo-text {
    color: #3490dc;
    font-weight: bold;
    font-size: 30px;
    font-family: "Lilita One", sans-serif;
    display: inline-block;
}

.navbar {
    /* opacity: 0; */
    transition: opacity 0.5s ease;
}

.pageLoader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0%;
    left: 0%;
    background: #4C506D;    
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lilita One", sans-serif;
    color: #fff;
}